<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px sm:pt-4">
        <div class="w-full pt-0 mx-auto">
            <div class="min-h-screen flex flex-col " style="background-color: #e6f7e8">
                <!-- Header -->
                <div class="flex justify-between items-center text-black p-3 rounded-md mb-3">
                    <button class="text-4xl" routerLink="/dashboards/project">&times;</button>
                    <div class="flex">
                        <h2 class="text-lg font-semibold underline mr-6">Need Help?</h2>
                        <h2 class="text-lg font-semibold underline" routerLink="/apps/book/all_tickets">All tickets</h2>
                    </div>
                </div>
                
                <div class="items-center justify-center bg-white border rounded-xl mx-4 mt-3">
                    <div class="bg-red-600 text-white text-center p-4 py-2 text-base font-semibold w-full rounded-t-xl">
                        पुणे महानगर परिवहन महामंडळ लि.
                    </div>
                
                    <div class="grid grid-cols-12 gap-1 w-full  my-2">
                        <div class="col-span-6 flex flex-col justify-center items-start h-full ml-4">
                            <label class="text-sm text-start">Route</label>
                            <label class="text-2xl font-bold">358</label>
                        </div>
                        <div class="col-span-3 flex flex-col justify-end items-center h-full">
                            <label class="text-sm text-start">Tickets count</label>
                            <label class="text-2xl font-bold">1F</label>
                        </div>
                        <div class="col-span-3 flex flex-col justify-end items-end h-full mr-4">
                            <label class="text-sm text-end">Fare</label>
                            <label class="text-2xl font-bold">₹25</label>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-1 w-full my-2">
                        <div class="col-span-5 flex flex-col justify-center items-center h-full">
                            <label class="text-xl text-right mr-3">Bhosari Terminal</label>
                        </div>
                        <div class="col-span-2 flex flex-col justify-center items-center h-full" >
                            <img src="assets/ticket/right-arrow.png" alt="Logo" class="w-full h-8">
                        </div>
                        <div class="col-span-5 flex flex-col justify-end text-end items-center h-full">
                            <label class="text-xl text-left ml-3">Chakan Ambethan Chowk</label>
                        </div>
                    </div>

                    <div class="border-t-2 border-dashed h-6 ml-4"></div>

                    <div class="grid grid-cols-12 gap-1 mx-3 mb-2">
                        <div class="col-span-6 flex flex-col justify-center h-full">
                            <label class="text-sm  mr-3">Booking Time</label>
                            <label class="text-sm font-bold">{{ currentDate | date:'dd MMM, yyyy | hh:mm a' }}</label>
                        </div>
                        <div class="col-span-6 flex flex-col justify-center  h-full" >
                            <label class="text-sm mr-3">Validity Time</label>
                            <label class="text-sm font-bold">{{ currentDate2 | date:'dd MMM, yyyy | hh:mm a' }}</label>
                        </div>
                    </div>

                    <div class="flex flex-col justify-center items-center h-full mb-2">
                        <label for="" class="text-lg">{{ currentDate | date:'yyMMddHHmm' }}{{formattedDate}}
                        </label>
                    </div>

                    <div class="border-t-2 border-dashed h-1 ml-4"></div>

                    <div class="flex justify-center items-center rounded-full my-2">
                        <img src="assets/ticket/logo.jpeg" alt="Logo"
                            class="w-48 h-48 animate-scaleEffect">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
