<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px sm:pt-4">
        <div class="w-full pt-0 mx-auto">
            <div class="min-h-screen bg-gray-100 flex flex-col">
                <!-- Header -->
                <div class="flex justify-between items-center bg-teal-700 text-white p-3 rounded-md">
                    <button class="text-2xl" routerLink="/dashboards/project">&larr;</button>
                    <h2 class="text-lg font-semibold">Notification</h2>
                    <span class="text-sm"></span>
                </div>
                
                <!-- Centered Content -->
                <div class="flex flex-grow items-center justify-center">
                    <p class="text-gray-600 text-lg">No notifications available right now.</p>
                </div>
            </div>
        </div>
    </div>
</div>


  