<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px sm:pt-4">
        <div class="w-full pt-0 mx-auto">
            
            <div class="max-w-md mx-auto p-4 bg-white rounded-lg shadow-lg">
                <div class="flex justify-between items-center bg-teal-700 text-white p-3 rounded-md">
                  <button class="text-2xl" routerLink="/dashboards/project">&larr;</button>
                  <h2 class="text-lg font-semibold">Ticket Details</h2>
                  <span class="text-sm">{{ minutes }}:{{ seconds | number: '2.0' }}</span>
                </div>
              
                <div class="text-center text-gray-700 mt-3 font-semibold">{{ currentDate | date:'dd MMM, yyyy | hh:mm a' }}</div>
              
                <h3 class="text-lg font-medium mt-4">Select or Enter Route</h3>
                <div class="flex items-center space-x-2 mt-2">
                    <div class="bg-green-500 text-white p-2 rounded-full">
                        <mat-icon svgIcon="mat_solid:directions_bus" class="text-white icon-size-5"></mat-icon>
                    </div>
                    <input type="text" placeholder="Select or enter route"
                        class="border border-gray-300 p-2 w-full rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
              
                <hr class="my-4">
              
                <h3 class="text-lg font-medium">Select Stops</h3>
                <div class="space-y-4 mb-6 pb-4">
                    <div class="flex items-center space-x-2">
                        <input type="radio" name="stop" class="form-radio text-green-500">
                        <span class="text-gray-700">Starting stop</span>
                    </div>
                    <div class="border-l-2 border-dashed h-6 ml-4"></div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" name="stop" class="form-radio text-green-500">
                        <span class="text-gray-700">Ending stop</span>
                    </div>
                </div>
              
                <hr class="border-t-2 border-dashed my-6">
              
                <h3 class="text-lg font-medium">Select Ticket Type</h3>
                <div class="flex space-x-2 mb-6 mt-2">
                    <button class="bg-green-600 text-white px-4 py-2 rounded-md w-full">By Fare</button>
                    <button class="border border-gray-300 px-4 py-2 rounded-md w-full">By Ending stop</button>
                </div>
              
                <div>
                    <p class="text-gray-600">Ticket Price</p>
                    <p class="text-gray-600 mt-2">Select Tickets</p>
              
                    <div class="flex justify-between items-center mt-2">
                        <span class="text-gray-700 font-medium">Full</span>
                        <div class="flex items-center space-x-2">
                            <button class="border px-2 py-1 rounded" (click)="fullMinus()">-</button>
                            <span class="border p-2 rounded w-7">{{full}}</span>
                            <button class="border px-2 py-1 rounded" (click)="fullPlus()">+</button>
                        </div>
                    </div>
              
                    <div class="flex justify-between items-center mt-2">
                        <span class="text-gray-700 font-medium">Half</span>
                        <div class="flex items-center space-x-2">
                            <button class="border px-2 py-1 rounded" (click)="halfMinus()">-</button>
                            <span class="border p-2 rounded w-7">{{half}}</span>
                            <button class="border px-2 py-1 rounded" (click)="halfPlus()">+</button>
                        </div>
                    </div>
                </div>
                <div class="h-24"></div>
            </div>
            <div class="border-t">
                <div class="fixed bottom-0 grid grid-cols-1 flex justify-center items-center  m-4 rounded" >
                    <div class="grid grid-cols-12 gap-1 w-full mt-2">
                        <div class="col-span-3 flex justify-center items-center h-full">
                            <div class="">
                                <label class="font-medium underline">PAY USING</label>
                                <select class="w-full border p-2 rounded-lg mt-2" [(ngModel)]="paymentMethod">
                                    <option value="phonepe">PhonePe</option>
                                    <option value="gpay">Google Pay</option>
                                    <option value="paytm">Paytm</option>
                                </select>
                            </div>
                        </div>
                        <div class="bg-green-600 col-span-9 flex justify-center items-center rounded h-full">
                            <span class="font-bold text-white text-xl my-3" (click)="pay()">Pay</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
