<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px sm:pt-4">
        <div class="w-full pt-0 mx-auto">
            <div class="min-h-screen flex flex-col " style="background-color: #e6f7e8">
                <div class="flex justify-between items-center text-black p-3 rounded-md mb-3">
                    <button class="text-4xl" routerLink="/dashboards/project">&times;</button>
                    <div class="flex">
                        <h2 class="text-lg font-semibold underline" routerLink="/apps/book/all_passes">All Passes</h2>
                    </div>
                </div>
                
                <div *ngIf="PASSDATA" class="items-center justify-center bg-white border rounded-xl mx-4 mt-3">
                    <div class="bg-red-600 text-white text-center p-4 py-2 text-base font-semibold w-full rounded-t-xl">
                        पुणे महानगर परिवहन महामंडळ लि.
                    </div>
                
                    <div class="grid grid-cols-12 gap-1 w-full  my-2 mb-6">
                        <div class="col-span-6 flex flex-col justify-start items-start h-full ml-4">
                            <label class="text-sm text-start">Pass Type</label>
                            <label class="text-2xl font-bold">{{passData.selectedPass.name}}</label>
                        </div>
                        <div class="col-span-3 flex flex-col justify-start items-center h-full">
                            <label class="text-sm text-start">ID</label>
                            <label class="text-2xl font-bold">{{passData.code}}</label>
                        </div>
                        <div class="col-span-3 flex flex-col justify-start  items-end h-full mr-4">
                            <label class="text-sm text-end">Fare</label>
                            <label class="text-2xl font-bold">₹{{passData.selectedPass.price}}</label>
                        </div>
                    </div>

                    <div class="border-t-2 border-dashed h-6 ml-4"></div>

                    <div class="grid grid-cols-12 gap-1 mx-3 mb-2">
                        <div class="col-span-6 flex flex-col justify-center h-full">
                            <label class="text-sm  mr-3">Booking Time</label>
                            <label class="text-sm font-bold">{{ currentDate | date:'dd MMM, yyyy ' }} | 08:38 AM</label>
                        </div>
                        <div class="col-span-6 flex flex-col justify-center  h-full" >
                            <label class="text-sm mr-3">Validity Time</label>
                            <label class="text-sm font-bold">{{ currentDate2 | date:'dd MMM, yyyy' }} | 11:59 PM</label>
                        </div>
                    </div>

                    <div class="flex flex-col justify-center items-center h-full mb-4">
                        <label for="" class="text-lg">{{ currentDate | date:'yyMMdd' }}0838{{formattedDate}}
                        </label>
                    </div>

                    <div class="border-t-2 border-dashed h-1 ml-4"></div>

                    <div class="flex justify-center items-center rounded-full my-4">
                        <img src="assets/ticket/logo.jpeg" alt="Logo"
                            class="w-48 h-48 animate-scaleEffect">
                    </div>

                    <div class="bg-red-600 text-white text-center p-4 py-1 text-sm font-semibold w-full rounded-b-xl">
                        One Day Pass
                     </div>
                </div>
                <div class="flex items-center justify-center border rounded-xl mx-4 mt-6 h-12 qrCode" (click)="showQRcode()" >
                    <mat-icon class="mr-2 icon-size-8" svgIcon="mat_solid:qr_code_2" style="color:green"></mat-icon>
                    <span class="font-semibold">Show QR code</span>
                </div>
                <div *ngIf="!PASSDATA" class="container flex justify-center items-center">
                    <h5>Data Not Found</h5>
                </div>
            </div>
            <div  class="flex items-center justify-center" >
                <ng-template #callAPIDialog>
                    <div class="relative" >
                        <mat-icon svgIcon="mat_outline:close"
                            style="color: rgb(10, 10, 10); cursor: pointer; position: absolute; z-index: 111;  top: -5px; right: -5px;"
                            matDialogClose="yes" (click)="close()">
                        </mat-icon>
                        <img class="h-50 w-50 bg-white"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRImIHUve72wr55Q99DHrmyivaVx3d9q5YnwQ&s" alt="">
                    </div>
                </ng-template >
            </div>
        </div>
    </div>
</div>
