@keyframes scaleEffect {
    0%, 100% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(1);
    }
}
.animate-scaleEffect {
    animation: scaleEffect 1.8s ease-in-out infinite;
}

.qrCode{
    border: 1px solid green;
    color:green;
    background-color: #c1edc1;
    font-size: 20px;
}

::ng-deep .mat-dialog-container {
    padding: 10px !important;
}

::ng-deep .mat-dialog-container {
    border-radius: 0px !important;
}