.container {
    padding: 0px !important;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-input {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
  }

  .button-grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    padding: 20px;
    background-color: #e0f7fa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  
  .near-me {
    margin-top: 30px;
  }
  
  .fetching {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e0f7fa;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
  }
  
  .footer-items i {
    font-size: 24px;
    cursor: pointer;
  }