<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px sm:pt-4">
        <div class="w-full pt-0 mx-auto">
            <div class="min-h-screen bg-gray-100">
                <div class="bg-teal-600 text-white p-4 text-lg font-semibold">My Profile</div>
                
                <div class="bg-white p-4 flex items-center space-x-4">
                  <div class="w-12 h-12 bg-gray-300 rounded-full flex justify-center items-center">
                    <mat-icon svgIcon="mat_outline:person"></mat-icon>
                  </div>
                  <div class="text-lg font-semibold">shreee</div>
                </div>
                
                <div class="bg-white mt-2 mb-4 p-4 space-y-4">
                    <div class="flex items-center space-x-3 cursor-pointer">
                        <mat-icon svgIcon="mat_outline:confirmation_number"></mat-icon>
                        <span>My Tickets</span>
                    </div>
                    <div class="flex items-center space-x-3 cursor-pointer">
                        <mat-icon svgIcon="mat_outline:report_problem"></mat-icon>
                        <span>Complaints</span>
                    </div>
                    <div class="flex items-center space-x-3 cursor-pointer">
                        <mat-icon svgIcon="mat_outline:share"></mat-icon>
                        <span>Share app</span>
                    </div>
                    <div class="flex items-center space-x-3 cursor-pointer">
                        <mat-icon svgIcon="mat_outline:star"></mat-icon>
                        <span>Rate Us</span>
                    </div>
                
                
                    <div class="h-24"></div>
                
                    <div class="p-4 text-center mt-4">
                        <p class="text-sm font-medium">Follow us on :</p>
                        <div class="flex justify-center space-x-4 mt-2">
                            <mat-icon svgIcon="mat_outline:play_circle"></mat-icon>
                            <mat-icon svgIcon="mat_outline:camera_alt"></mat-icon>
                            <mat-icon svgIcon="mat_outline:close"></mat-icon>
                        </div>
                    </div>
                    <div class="text-center text-gray-500 text-sm mt-2">App version : 1.0.5.3 (14)</div>
                </div>
                
                <div class="fixed bottom-0 w-full bg-white shadow-md p-3 flex justify-around">
                  <div class="flex flex-col items-center text-gray-600">
                    <mat-icon svgIcon="mat_outline:home"></mat-icon>
                    <span class="text-xs" routerLink="/dashboards/project">Home</span>
                  </div>
                  <div class="flex flex-col items-center text-gray-600">
                    <mat-icon svgIcon="mat_outline:place"></mat-icon>
                    <span class="text-xs">Buses</span>
                  </div>
                  <div class="flex flex-col items-center text-gray-600">
                    <mat-icon svgIcon="mat_outline:help"></mat-icon>
                    <span class="text-xs">Help</span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

  