<div class="container">
  <div class="flex justify-start items-center text-black mt-2 m mb-3">
    <mat-icon svgIcon="mat_outline:arrow_back" class="icon-size-6 text-black" routerLink="/dashboards/project"></mat-icon>
    <div class="flex ml-3">
      <h2 class="text-xl font-semibold " routerLink="/apps/book/all_passes">All Passes</h2>
    </div>
  </div>
  <div *ngFor="let pass of passes" class="pass-card" [ngClass]="{'invalid': true}" >
    <div class="pass-info" (click)="showPass(pass)">
      <div class="flex justify-between items-center">
        <p class="type text-lg">{{ pass.type }}</p>
        <div class="status rounded-full text-sm font-medium"
          [ngClass]="{'success': pass.status === 'Success', 'failed': pass.status === 'Failed'}">
          {{ pass.status }}
        </div>
      </div>

      <div class="flex justify-between items-center">
        <p class="date text-lg">{{ pass.date }}</p>
        <p class="amount text-lg">&#8377;{{ pass.amount }}</p>
      </div>
      <div class="invalid-stamp">INVALID</div>
    </div>
  </div>
</div>